<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PomodoroDuration" value="15" />
    <add key="AlarmOnPomodoroEnd" value="True" />
    <add key="MessageOnPomodoroEnd" value="True" />
    <add key="MessageTextOnPomodoroEnd" value="Hey, stop! Time to have a break!" />
    <add key="AskPomodoroNameOnStart" value="True" />
    <add key="TickingSound" value="True" />
    <add key="ShowTimeCounter" value="True" />

    <add key="ResetOnInterruptTimeout" value="True" />
    <add key="MaxInterruptDuration" value="10" />
    <add key="AskInterruptReason" value="True" />

    <add key="BreakDuration" value="5" />
    <add key="AlarmOnBreakEnd" value="True" />
    <add key="MessageOnBreakEnd" value="True" />
    <add key="MessageTextOnBreakEnd" value="Break is finished! Get back to work!" />
    <add key="TickingSoundForBreak" value="False" />
    <add key="CanStartDuringBreak" value="False" />

    <add key="SpeechStart" value="Have a great Pomodoro!"/>
    <add key="SpeechEnd" value="Cool! A perfect Pomodoro!"/>
    <add key="SpeechInterrupt" value="You have seconds to resume"/>
    <add key="SpeechResume" value="... and we are back!"/>
    <add key="SpeechBreakEnd" value="Ready for another one?"/>
  </appSettings>
</configuration>